body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  #countdown {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 2rem;
  }
  
  #timer span {
    font-weight: bold;
  }
  